@import '../../variables';

.vr {
    width: 2px;
}

.nav-link.social {
    color: $black;
    height: 60px;
    margin-top: 0.6em;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 12px;
    margin-bottom: 0.4em;
    background: #e0e0e0;
box-shadow:  10px 10px 20px #a4a4a4,
             -10px -10px 20px #ffffff;
    
    &:hover {
        color: $black;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  10px 10px 20px #848484,
             -10px -10px 20px #ffffff;
    }
}
.link-social {
    &:hover{
        cursor: pointer;
        color: black;
    }
}
.social_container {
    width: 100%;
}
@media (min-width: $breakpoint-sm) {
    .social_container {
        width: 64px;
        left: 20px;
    }
}
