@import '../../variables';
@import '../../animations.scss';

.links {
    a.nav-link {
        color: $primary;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 1s;
        transition-property: color;
        position: relative;
        margin: auto 10px;
        padding: 0;

        &:hover::after {
            width: 100%;
            left: 0%;
        }

        &:hover {
            color: $primary;
        }

        &::after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $primary;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
        }
    }
}
.navbar .container {
    max-width: 1250px;
}
