@import '../../variables';

.experience_summary {
    color: $text-color-bold;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
}


.nav-pills {
    .company_tab.nav-link {
        background-color: transparent;
        color: $primary;
        font-size: 1.5rem;
        border-bottom: 1px solid gray;
        position: relative;

        &:hover {
            text-shadow: 0 0 18px rgba(0, 0, 0, .35);
            transform: translate(1px, 1px);
        }

        &.active {
            color: $text-color-bold;
            background-color: transparent;
        }

        &.active::after {
            content: "";
            display: block;
            position: absolute;
            right: 10%;
            bottom: 38%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: currentColor;
            pointer-events: none;
        }
    }
}
