/* font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  background: linear-gradient(-45deg, #d8dde0, #c8c5ccf5, #e5eeec, #fffb);
  background-size: 400% 400%;
  color: black;
  font-family: 'Pacifico', cursive;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.main_container {
  max-width: 80%;
  padding: 20px;
  margin: auto;
  background: transparent;
  border-radius: 12px;
  box-shadow: inset 5px 5px 10px #a9a9aa77,
              inset -5px -5px 10px #ffffff7e;
}
.neo_container {
  margin:20px;
  background: transparent;
  border-radius: 12px;
  margin-bottom: 0.4em;
  box-shadow: -5px -5px 8px #ffffff7a, 
              5px 5px 8px #a9a9aa7a;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  font-family: 'Poppins', sans-serif;
}
